In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('penguins.csv')

In [5]:
df.head()

,rownames,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

##### Add a constant value of 50 to the flipper_length_mm series
Create a new series called `flipper_length_mm_plus_50` by adding 50 to the `flipper_length_mm` series.

In [8]:
flipper_length_mm_plus_50 = df['flipper_length_mm'] + 50
flipper_length_mm_plus_50

0      231.0
1      236.0
2      245.0
3        NaN
4      243.0
       ...
339    257.0
340    252.0
341    243.0
342    260.0
343    248.0
Name: flipper_length_mm, Length: 344, dtype: float64

##### Calculate the difference between body_mass_g and the mean body mass

Find the mean of `body_mass_g` and subtract it from each value in the series. Assign the result to a new series called `body_mass_mean_centered`

In [14]:
body_mass_mean_centered = df['body_mass_g'] - df['body_mass_g'].mean()
body_mass_mean_centered

0     -451.754386
1     -401.754386
2     -951.754386
3             NaN
4     -751.754386
          ...
339   -201.754386
340   -801.754386
341   -426.754386
342   -101.754386
343   -426.754386
Name: body_mass_g, Length: 344, dtype: float64

##### Multiply bill_depth_mm by 3

Create a new series called `triple_bill_depth_mm` by multiplying the `bill_depth_mm` series by 3.

In [15]:
triple_bill_depth_mm = df['bill_depth_mm'] * 3
triple_bill_depth_mm

0      56.1
1      52.2
2      54.0
3       NaN
4      57.9
       ...
339    59.4
340    54.3
341    54.6
342    57.0
343    56.1
Name: bill_depth_mm, Length: 344, dtype: float64

##### Raise the bill_length_mm series to the power of 3

Create a new series called `bill_length_mm_cubed` by raising the `bill_length_mm` series to the power of 3.

In [17]:
bill_length_mm_cubed = df['bill_length_mm'] ** 3
bill_length_mm_cubed

0       59776.471
1       61629.875
2       65450.827
3             NaN
4       49430.863
          ...
339    173741.112
340     82312.875
341    122023.936
342    131096.512
343    126506.008
Name: bill_length_mm, Length: 344, dtype: float64

##### Concatenate island and species series, separated by an underscore (_)
Create a new series called `island_and_species` by concatenating `island` and `species`, separated by `_`.

In [19]:
island_and_species = df['island'] + '_' + df['species']
island_and_species

0      Torgersen_Adelie
1      Torgersen_Adelie
2      Torgersen_Adelie
3      Torgersen_Adelie
4      Torgersen_Adelie
             ...
339     Dream_Chinstrap
340     Dream_Chinstrap
341     Dream_Chinstrap
342     Dream_Chinstrap
343     Dream_Chinstrap
Length: 344, dtype: object

##### Compute the ratio of bill length to bill depth
Create a new series called `bill_length_to_depth_ratio` by dividing `bill_length_mm` by `bill_depth_mm`.

In [22]:
bill_length_to_depth_ratio = df['bill_length_mm'] / df['bill_depth_mm']
bill_length_to_depth_ratio

0      2.090909
1      2.270115
2      2.238889
3           NaN
4      1.901554
         ...
339    2.818182
340    2.403315
341    2.725275
342    2.673684
343    2.684492
Length: 344, dtype: float64

##### Sort bill_depth_mm in ascending order
Create a new series called `bill_depth_mm_sorted` by sorting `bill_depth_mm` in ascending order.

In [23]:
bill_depth_mm_sorted = df['bill_depth_mm'].sort_values()
bill_depth_mm_sorted

176    13.1
152    13.2
200    13.3
160    13.4
157    13.5
       ...
49     21.2
13     21.2
19     21.5
3       NaN
271     NaN
Name: bill_depth_mm, Length: 344, dtype: float64

##### Perform element-wise multiplication of flipper_length_mm and bill_length_mm

Multiply `flipper_length_mm` and `bill_length_mm` together and assign the result to a new variable called `flipper_times_bill_length`.

In [24]:
flipper_times_bill_length = df['flipper_length_mm'] * df['bill_length_mm']
flipper_times_bill_length

0       7077.1
1       7347.0
2       7858.5
3          NaN
4       7083.1
        ...
339    11550.6
340     8787.0
341     9572.8
342    10668.0
343     9939.6
Length: 344, dtype: float64

##### Find the species with the highest average body mass

Group by `species` and compute the `average body_mass_g`, then identify the species with the highest value.

In [55]:
df.groupby('species')['body_mass_g'].mean().nlargest(1)

species
Gentoo    5076.01626
Name: body_mass_g, dtype: float64

##### Compute the range (max-min) of bill length for each species
Group by `species` and compute the range of `bill_length_mm`.

In [57]:
df.groupby('species')['bill_length_mm'].agg(lambda x: x.max() - x.min())

species
Adelie       13.9
Chinstrap    17.1
Gentoo       18.7
Name: bill_length_mm, dtype: float64

##### Create a new column categorizing flipper length into three bins: Short, Medium, Long
Use quantiles to define the bins and create a new column called `flipper_length_category`.

In [63]:
flipper_length_category = pd.qcut(df['flipper_length_mm'],q=3, labels = ['Short','Medium','Long'])
flipper_length_category

0       Short
1       Short
2      Medium
3         NaN
4      Medium
        ...
339    Medium
340    Medium
341    Medium
342      Long
343    Medium
Name: flipper_length_mm, Length: 344, dtype: category
Categories (3, object): ['Short' < 'Medium' < 'Long']

##### Find the maximum flipper length for each gender

Group by `sex` and find the maximum `flipper_length_mm`.

In [68]:
df.groupby('sex')['flipper_length_mm'].max()

sex
female    222.0
male      231.0
Name: flipper_length_mm, dtype: float64

##### Determine the most common species in the dataset

Count the occurrences of each `species` and find the most common one.

In [75]:
df['species'].value_counts().nlargest(1)

species
Adelie    152
Name: count, dtype: int64